<div class="container" style="text-align: justify">
  <div class="row">
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://picsum.photos/id/237/200/300"
          class="card-img-top"
          alt="Image not found"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
            totam praesentium aperiam odio, veritatis provident ratione nihil
            voluptates modi corrupti expedita dolore eaque, eius quisquam
            doloremque. Temporibus rerum consectetur voluptates?
          </p>
          <a href="#" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <img
            src="https://picsum.photos/id/239/200/300"
            class="card-img-top"
            alt="Image not found"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
              totam praesentium aperiam odio, veritatis provident ratione nihil
              voluptates modi corrupti expedita dolore eaque, eius quisquam
              doloremque. Temporibus rerum consectetur voluptates?
            </p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <img
            src="https://picsum.photos/id/232/200/300"
            class="card-img-top"
            alt="Image not found"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
              totam praesentium aperiam odio, veritatis provident ratione nihil
              voluptates modi corrupti expedita dolore eaque, eius quisquam
              doloremque. Temporibus rerum consectetur voluptates?
            </p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card" style="width: 18rem">
          <img
            src="https://picsum.photos/id/235/200/300"
            class="card-img-top"
            alt="Image not found"
          />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
              totam praesentium aperiam odio, veritatis provident ratione nihil
              voluptates modi corrupti expedita dolore eaque, eius quisquam
              doloremque. Temporibus rerum consectetur voluptates?
            </p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
  </div>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam fugiat aperiam,
  voluptates enim quisquam at porro iusto, nostrum impedit expedita facere
  maiores voluptatum unde deleniti adipisci ea explicabo, consectetur incidunt?
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum ullam illum
  animi quaerat consectetur nemo asperiores possimus ipsa, facere eaque. Sequi
  nesciunt excepturi earum ut delectus eius culpa fuga atque! Lorem ipsum dolor
  sit, amet consectetur adipisicing elit. Nesciunt officia quo veritatis nihil
  esse cum sapiente debitis molestiae, itaque quos minima accusamus ex incidunt
  natus cumque ratione unde, sequi amet? Lorem ipsum dolor sit amet consectetur
  adipisicing elit. Odit, doloribus impedit, id voluptatibus facere ut saepe,
  maxime esse aperiam reprehenderit aspernatur! Facere temporibus fugit
  laboriosam quis ipsum ad nemo in.
</div>
